 
h1, h2, p {
  text-align: center;
}

body {
  background-image: url(https://images.pexels.com/photos/3139473/pexels-photo-3139473.jpeg?cs=srgb&dl=pexels-ave-calvar-martinez-3139473.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 12px;
}


h1, h2 {
  font-family: Impact, serif;
}
